html {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.4;
}

h1, h2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

.site-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-self: center;
}

header {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  position: fixed;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  align-items: center;
  background-color: cadetblue;
  color: white;
  height: 3rem;
}

.logo {
  height: 1.5rem;
  width: auto;
}

.logo-div {
  display: flex;
  align-items: center;
}

header .logo {
  margin: auto 1rem auto 2rem;
}

#our_name {
  display: none;
}

nav {
  margin: auto 2rem auto auto;
  display: flex;
  align-items: center;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  display: none;
  margin: 1rem;
}

#nav-menu {
  display: block;
  float: right;
}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
}

.headline {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  width: 100%;
}

.headline h1 {
  margin: 1rem auto;
  text-transform: uppercase;
}

.highlights {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3.77rem auto;
}

.highlight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0.77rem auto;
  align-items: center;
  width: 6rem;
}

.img-portrait {
  width: 3.5rem;
  height: auto;
}

.img-landscape {
  max-width: 5rem;
  height: auto;
}

.highlight span {
  font-size: 0.77rem;
  margin: 0.77rem auto;
  text-align: center;
}

.information {
  flex-flow: column nowrap;
  justify-content: space-between;
}

.info {
  width: 100%;
  margin-bottom: 4rem;
}

.section-title {
  background-color: cadetblue;
  color: white;
  display: flex;
  height: 2rem;
  justify-content: center;
}

.section-title h2 {
  margin: 0.5rem 1.25rem;
}

.info p {
  margin: 1rem 0.5rem;
  font-size: 0.77rem;
}

footer {
  width: 100%;
}

.footer {
  background-color: azure;
  font-size: 0.77rem;
  height: 9rem;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: none;
}

@media only screen and (min-width:470px) {
  #our_name {
    display: block;
  }
}

@media only screen and (min-width:550px) {
  h1 {
    font-size: 1.33rem;
  }

  .highlights {
    flex-flow: row nowrap;
    justify-content: center;
    height: 8rem;
    margin: 3rem auto;
    width: 100%;
  }

  .information {
    flex-flow: row nowrap;
    justify-content: center;
  }

  .info {
    width: 35%;
    margin: 2.5%;
  }

  .section-title {
    width: 10rem;
  }

  .footer {
    justify-content: flex-start;
  }

  .logo-div {
    margin-left: 4rem;
  }

  .copyright {
    display: block;
    margin-left: 1rem;
  }

}

@media only screen and (min-width: 650px) {
  #nav-menu {
    display: none;
  }

  .nav-link {
    display: inline-block;
  }

  .banner {
    background-position: 35%;
    height: 22rem;
  }

  .headline {
    float: right;
    margin: 8rem 2rem auto auto;
    width: auto;
  }

  .headline h1 {
    display: inline-block;
    margin: 0.75rem 4rem;
  }

  .highlight {
    margin: 0.77rem 3rem;
  }

}

@media only screen and (min-width: 1020px) {
  h1 {
    font-size: 2rem;
  }

  header {
    top: 1rem;
  }

  .site-container {
    max-width: 960px;
  }

  .banner {
    background-position: center;
    height: 30rem;
  }

  #banner-container {
    max-width: 1032px;
  }

  .headline {
    margin-top: 14rem;
  }

  .headline h1 {
    margin: 1.5rem 5rem;
  }

  .highlights {
    flex-direction: row;

    justify-content: space-around;
    width: 100%;
  }

  .info p {
    font-size: 1rem;
  }

  .footer {
    font-size: 1rem;
  }
}
