html {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.4;
}

h1, h2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}
.site-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-self: center;
}

header {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  position: fixed;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  align-items: center;
  background-color: cadetblue;
  color: white;
  height: 3rem;
  width: 100%;
}

header .logo {
  height: 1.5rem;
  width: auto;
  margin: auto 1rem auto 2rem;
}

#our_name {
  display: none;
}
nav {
  margin: auto 2rem auto auto;
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  display: none;
  margin: 1rem;
}
#nav-menu {
  display: block;
  float: right;
}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  width: 100%;
}
.headline {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  width: 100%;
}
.headline h1 {
  margin: 1rem auto;
  text-transform: uppercase;
}

.highlights {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3.77rem auto;
}
.highlight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0.77rem auto;
  align-items: center;
  width: 6rem;
}

.img-portrait {
  width: 3.5rem;
  height: auto;
}

.img-landscape {
  max-width: 5rem;
  height: auto;
}

.highlight span {
  font-size: 0.77rem;
  margin: 0.77rem auto;
  text-align: center;
}

.info {
  height: 2rem;
  width: 100%;
  flex-direction: column;
}

.section-title {
  background-color: cadetblue;
  color: white;
}

@media only screen and (min-width:470px) {
  h1 {
    font-size: 1.33rem;
  }
  #our_name {
    display: block;
  }
}

@media only screen and (min-width: 1020px) {
  h1 {
    font-size: 2rem;
  }
  header {
    top: 1rem;
  }
  .site-container {
    max-width: 960px;
  }
  #our_name {
    display: block;
  }
  #nav-menu {
    display: none;
  }
  .nav-link {
    display: inline-block;
  }

  .banner {
    height: 30rem;
    background-position: center;
  }

  #banner-container {
    max-width: 1032px;
  }

  .headline {
    float: right;
    margin-top: 14rem;
    margin-left: auto;
    width: auto;
  }
  .headline h1 {
    display: inline-block;
    margin: 1.5rem 5rem;
  }

  .highlights {
    flex-direction: row;
    height: 8rem;
    justify-content: space-around;
    width: 100%;
  }
  .highlight {
    margin: 0.77rem 3rem;
  }
}
